---
import { getCollection } from "astro:content";
import Layout from "../../layouts/layout.astro";
import { StrapiBlocks } from "@sensinum/astro-strapi-blocks";
export const prerender = false;

const { slug } = Astro.params;
const comunicados = await getCollection("comunicadoCollection");
const comunicado = comunicados.find((col) => col.id === slug);

if (!comunicado) {
  return Astro.redirect("/404");
}
---

<Layout>
  <div class="page-display">
    <header class="flex-content-lg mb-8">
      <img
        src={import.meta.env.CMS_URL + comunicado.data.cover.url}
        class="object-cover aspect-4/3 md:aspect-12/4"
        alt={comunicado.data.cover.alternativeText}
      />
      <h1 class="text-mocha-900 text-center">{comunicado.data.titulo}</h1>
    </header>
    <section>
      <StrapiBlocks
        class="flex-content-sm flex-nowrap"
        data={comunicado.data.contenido}
        theme={{
          extend: {
            paragraph: {
              block: ["md:w-[18lh] lg:w-[34lh] text-mocha-950 break-after-page"],
              link: ["text-roast-600 hover:text-roast-400"],
            },
            heading: {
              h1: ["hidden"],
              block: ["md:w-[46rem] text-pinkish-400 break-after-page"]
            }
          },
        }}
      />
    </section>
  </div>
</Layout>
