---
import { getCollection } from "astro:content";
import Layout from "../../layouts/layout.astro";
export const prerender = false

const { slug } = Astro.params
const comunicados = await getCollection('comunicadoCollection')
const comunicado = comunicados.find((col) => col.id === slug)

if(!comunicado) {
  return Astro.redirect('/404')
}

console.log(comunicado)
---

<Layout>
  <div class="page-display">
  </div>
</Layout>