@import "tailwindcss";

:root {
  --size-base: 1rem;
  --scale-paragraph: 1.25;
  --header-line-height: 1;
  --resize-factor: 5.88280647vw;
}

@theme {
  /* tipografía */
  --font-sans: var(--font-kumbh-sans);

  /* colores */
  --color-mocha-light: oklch(0.9907 0.0095 93.57);
  --color-mocha: oklch(0.887 0.132 98.59);
  --color-pinkish-light: oklch(0.744 0.095 12.1);
  --color-pinkish: oklch(0.491 0.132 13.05);
  --color-roast: oklch(0.1922 0.0641 278.5);
}
