---
import Layout from "../layouts/layout.astro";
import { getCollection } from "astro:content";

const [contacto] = await getCollection('contactoCollection');

---

<Layout>
  <div class="page-display">
    <div class="flex-content-lg items-start w-min">
      <header>
        <h1 class="title">Contactos</h1>
      </header>
      <section class="flex-content-md">
        <h2 class="subtitle">Horario de atención</h2>
        <ul class="flex-content-sm">
          <li>Lunes a Viernes</li>
          <li>{contacto.data.horario_apertura.slice(0, 5)}</li>
          <li>{contacto.data.horario_cierre.slice(0, 5)}</li>
        </ul>
      </section>
      <section class="flex-content-md">
        <h2 class="subtitle">Números de contacto</h2>
        <ul class="flex-content-sm">
          {
            contacto.data.contactos.map((item) => (
              <li class="phone-item">
                <p>{item.telefono}</p>
              </li>
            ))
          }
        </ul>
      </section>
    </div>
  </div>
</Layout>

<style>
  @reference "#app.css";

  .title {
    @apply font-bold
      text-mocha-950;
  }

  .subtitle {
    @apply font-bold
      text-roast-500
        text-h3;
  }
</style>
