---
import Layout from "../layouts/layout.astro";
---

<Layout>
  <div class="page-display">
  <div class="flex-content-lg items-start">
    <header>
      <h1 class="title">Estudios</h1>
    </header>
    <section class="flex-content-md">
      <h2 class="subtitle">Educación<br />Preescolar</h2>
      Esta etapa dirijida a niños y niñas desde los 3 años hasta
      los 6 años de edad cumplidos o al ingreso de primer grado escolar,
      se enfoca en fortalecer el proceso de socialización propia en el
      niño(a) para permitir una integración social sana, así mismo, se
      busca el aprendizaje continuo de los aspectos integrales (higiene,
      alimentación, pedagogía) presentes en el individuo.
      Con el objetivo de apoyar en la formación desde la infancia temprana
      valores como: la cooperación, afecto, moralidad cumpliendo ciertas
      pautas de comportamiento dentro del ambiente social.
    </section>
    <section class="flex-content-md">
      <h2 class="subtitle">Educación<br />Primaria</h2>
      Esta etapa dirijida a niños y niñas desde los 6 años hasta
      los 12 años de edad cumplidos o al ingreso de primer año bachillerato,
      se enfoca en el crecimiento del aprendizaje y la aplicación de nuevos 
      conocimientos teóricos, busca también la enseñanza de habilidades
      sociales y practicas necesarios para desenvolverse dentro del entorno.
      Con el objetivo de apoyar en la formación de jovenes con valores ciudadanos
      que buscan igualdad, conocimiento y respeto mutuo, involucrados desde
      una edad temprana en el desarrollo del entorno y la sociedad venezolana.
    </section>
  </div>
  </div>
</Layout>

<style>
  @reference "#app.css";

  .title {
    @apply font-bold
      text-mocha-950;
  }

  .subtitle {
    @apply font-bold
      text-mocha-950;
  }
</style>
