---
import Layout from "../layouts/layout.astro";
import frImgUno from "../assets/images/fr-img-uno.webp";
import frImgDos from "../assets/images/fr-img-dos.webp";
import heroImg from "../assets/images/hero-img.webp";
import { Picture } from "astro:assets";
---

<Layout>
  <div class="page-display">
    <div class="flex-content-lg mb-16">
      <Picture
        src={heroImg}
        widths={[900, 1080]}
        class="object-cover aspect-4/3 md:aspect-12/4"
        priority
        alt="Vista frontal del u.e.e 'dr. josé francisco torrealba'"
      />
      <h1 class="hero-title">U.E.E<br />Dr. José Francisco Torrealba</h1>
    </div>
    <section class="flex-content-lg section-box">
      <h2 class="section-title self-start">Formación Académica</h2>
      <div class="flex-content-row-md not-md:flex-wrap">
        <Picture
          src={frImgUno}
          alt="Jovenes celebrando promoción 53 del colegio"
          height={240}
          format="webp"
          priority
        />
        <hgroup class="flex-content-sm">
          <h3 class="text-h4 section-subtitle">Educación Primaria</h3>
          <p class="rs-paragraph">
            Formación de jovenes con valores ciudadanos que buscan igualdad,
            conocimiento y respeto mutuo, involucrados desde una edad temprana
            en el desarrollo del entorno y la sociedad venezolana.
          </p>
        </hgroup>
      </div>
      <div class="flex-content-row-md not-md:flex-wrap">
        <Picture
          src={frImgDos}
          alt="Jovenes celebrando promoción 53 del colegio"
          height={240}
          format="webp"
          priority
        />
        <hgroup class="flex-content-sm">
          <h3 class="text-h4 section-subtitle">Preescolar</h3>
          <p class="rs-paragraph">
            Formación desde la infancia temprana valores como: la cooperación,
            afecto, moralidad cumpliendo ciertas pautas de comportamiento dentro
            del ambiente social.
          </p>
        </hgroup>
      </div>

      <a href="/formacion" class="button text-sm md:text-base">
        Oferta académica y requisitos para la inscripción
      </a>
    </section>
    <section class="flex-content-lg section-box">
      <h2 class="section-title self-start">Comunicados</h2>
    </section>
    <section class="flex-content-lg section-box">
      <h2 class="section-title self-start">Calendario Académico</h2>
      <div class="flex-content-md"></div>
      <button type="button" class="button text-sm md:text-base">
        Ver Calendario académico
      </button>
    </section>
  </div>
</Layout>

<style>
  @reference "#app.css";

  .hero-title {
    @apply font-bold mb-8 text-mocha-900;
  }

  .section-box {
    @apply mb-8;
  }

  .section-title {
    @apply font-bold text-mocha-900;
  }

  .section-subtitle {
    @apply font-bold text-roast-500;
  }

  .rs-paragraph {
    @apply lg:w-[24lh] xl:w-[40lh];
  }
</style>
