---
import Layout from '../layouts/layout.astro'
---

<Layout>
	<article>
		<h1>Hola mundo</h1>
		<p>Contenido para todos</p>
	
		<section>
			<p>Bloque de contenido</p>
		</section>
	</article>
</Layout>
