---
import Layout from '../layouts/layout.astro'
---

<Layout>
	<article>
		<h1>Hola mundo</h1>
		<p>Contenido para todos</p>
		<hgroup>
			<h2>Esto no debe verse en produción</h2>
			<p>TopSecret</p>
		</hgroup>
		<section>
			<p>Bloque de contenido</p>
		</section>
	</article>
</Layout>
