---
import { PhoneIcon } from "@lucide/astro";
---

<header class="banner">
  <ul class="phone-list">
    <li class="phone-item">
      <PhoneIcon class="icon" size="20" />
      <p>Item 1</p>
    </li>
    <li class="phone-item">
      <PhoneIcon class="icon" size="20" />
      <p>Item 2</p>
    </li>
  </ul>
</header>

<style>
  @reference "#app.css";

  .banner {
    @apply min-w-fit
    py-2
    px-4
    bg-roast-300
    border-2
    border-roast-800;
  }

  [class^="phone-"] {
    @apply flex
      flex-row
      gap-x-2
      justify-items-center;
  }

  .icon,
  p {
    @apply text-roast-50
        text-xs;
  }
</style>
