---
import { PhoneIcon } from "@lucide/astro";
import { getCollection } from "astro:content";

const [contacto] = await getCollection('contacto')
---

<header class="banner">
  <ul class="phone-list">
    {
      contacto.data.contactos.map((item) => (
        <li class="phone-item">
          <PhoneIcon class="icon" size="20" />
          <p>{item.telefono}</p>
        </li>
      ))
    }
  </ul>
</header>

<style>
  @reference "#app.css";

  .banner {
    @apply min-w-fit
    py-2
    px-4
    bg-roast-300
    border-2
    border-roast-800;
  }

  [class^="phone-"] {
    @apply flex
      flex-row
      gap-x-2
      justify-items-center;
  }

  .icon,
  p {
    @apply text-roast-50
        text-xs;
  }
</style>
