---
import { Font } from "astro:assets";
import ContactBanner from "../components/contact-banner.astro";
import Copyright from "../components/copyright.astro";
import Navbar from "../components/navbar.astro";
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <Font cssVariable="--font-kumbh-sans" />
    <title>U.E.E Dr José Francisco Torrealba</title>
  </head>
  <body class="">
    <header>
      <ContactBanner />
      <Navbar />
    </header>
    <main class="h-dvh">
      <slot />
    </main>
    <footer>
      <Copyright />
    </footer>
  </body>
</html>
