---
import { Image } from 'astro:assets'
import { MenuIcon } from "@lucide/astro"
import logo from '../assets/images/logo.webp'
---

<header class="navbar">
  <div class="nv-logo">
    <Image
      src={logo}
      width={logo.width}
      height={logo.height}
      alt="Logotipo del colegio estatal 'dr. josé francisco torrealba'"
      format="webp"
      priority
      class="logo"
    />
  </div>
  <div class="nv-container">
    <p class="nv-title">u.e.e "dr. josé francisco torrealba"</p>
    <navigator-page class="nv-list" aria-role="navigation">
      <input class="hidden" type="checkbox" id="toggle" />
      <label class="button nv-item nv-toggle" for="toggle">
        <p>Menu</p>
        <MenuIcon size="20" />
      </label>
      <div class="nv-list nv-item closed" id="menu">
        <a href="/" class="nv-item button">Principal</a>
        <a href="/contacto" class="nv-item button">Contacto</a>
        <a href="/formacion" class="nv-item button">Formación</a>
        <a href="/comunicados" class="nv-item button">Comunicados</a>
        <a href="#calendario" class="nv-item button" aria-disabled="true">Calendario</a>
      </div>
    </navigator-page>
  </div>
</header>

<style>
  @reference "#app.css";

  .navbar {
    @apply flex
      flex-row
      my-4
      justify-center
      items-center;
  }

  .logo {
    @apply object-contain aspect-4/3;
  }

  .nv-container {
    @apply flex
      flex-col
      flex-nowrap
      gap-y-2
      items-center;
  }

  .nv-list {
    @apply flex
      flex-row
      not-md:flex-wrap
      not-md:w-2/3
  }

  .closed {
    @apply not-md:hidden;
  }

  .nv-title {
    @apply text-center
      text-base
      capitalize
      font-bold;
  }

  .nv-list > [class*="nv-item"] {
    @apply shrink not-md:flex-3/4;
  }

  .nv-toggle {
    @apply flex 
      flex-row
      flex-nowrap
      justify-center
      items-center
      gap-x-2
      md:hidden;
  }
</style>

<script>
  class Navigator extends HTMLElement {
    toggleButton: Element | null
    menu: Element | null

    toggleHandler = () => {
        this.menu?.classList.toggle('closed')
    }

    constructor() {
      super()
      this.toggleButton = this.querySelector('#toggle')
      this.menu = this.querySelector('#menu')
    }

    connectedCallback() {
      this.toggleButton?.addEventListener('click', this.toggleHandler)
    }

    disconnectedCallback() {
      this.toggleButton?.removeEventListener('click', this.toggleHandler)
    }
  }

  customElements.define('navigator-page', Navigator)
</script>
